#features{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family:'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: white;
}
#features h1{
    color: #0c5a64;
    font-size: 3rem;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;


}
