@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
  background-color: white;
  font-family: 'Lato', sans-serif;
}
*{
  box-sizing: border-box;
}

@media(max-width:1190px){
	#home{
		background-size: 1150px !important;
		
	}
	.home_heading{
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .home_heading h2{
        font-size: 1rem;
    }
    .home_heading h1{
        font-size: 1.5rem;
    }
    .home_heading .details{
        font-size: 1rem;
    }
    .offer_heading{
		left: 30%;
		top: 50%;

        text-align: left;
    }
    .offer_heading h2{
        font-size: 1.5rem;
    }
    .offer_heading h1{
        font-size: 3rem;
    }
    .offer_heading .details{
        font-size: 1rem;
    }
  

	
  #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .about_img{
    margin-top: 50px;
    margin-right: 300px;
    width: 25%;
    align-items: center;

}
  .about_img img{
		height:300px;
    width:100px;

    }

  .about_details h1{
    margin-top: 0;
   }

    #features{
		height:auto;
    margin-bottom: 100px;
    }
    .container{
		flex-wrap: wrap;
	}
    .box{
		flex-grow: 1;
	}
    .box_img img{
		object-fit:contain;
    }   
    

}

@media(max-width:970px){
	#home{
		height: 650px;
	}
	.home_heading{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 350px;
    margin-left: 20px;
    margin-top: 50px;
    } 

    #offer{
      margin-top: 500px;

    }
    .offer_heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    padding: 40px;
    
    	}

	.about_image{
        display:none;
    }
    .home_btn{
        margin-left: 20%;
        margin-top: 20px;
    }
    .offer_btn{
        margin-left: 20%;
        margin-top: 20px;
    }
	#about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.about_details{
        width: 90%;
	}
	.about_details h1{
		font-size:4rem;
    }
    .about_details p{
        width: 100%;
    }
    #features{
        margin-top: 500px;
        margin-bottom: 100px;
    }
}

@media(max-width:600px){
	.home_heading{
		width:60%;
    }
    .offer_heading{
		width:60%;
    }
  }

